<!DOCTYPE html>
<html lang="eng"xmlns:th="http://www.thymeleaf.org" th:replace="userParent::layout1(~{::section})">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<section>
<div class="card">

<div class="card-body" >



<h1>Contact Details</h1>

<div class=" text-center">
<img style="height: 200px; width: 200px; margin-top: 5px;" alt="" src="" th:src="@{'/image/'+${c.image}}">
</div>

<table class="table table-dark table-striped table-hover table-bordered border-primary">
  <thead>
    <tr>
      <th scope="col">CId</th>
      <th scope="row" th:text="${c.cId}"></th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <tr>
      <th scope="col">Name</th>
      <td th:text="${c.name}"></td>
    </tr>
    <tr>
      <th scope="col">Description</th>
      <td th:text="${c.description}"></td>
    
    </tr>
    <tr>
      <th scope="col">PHn no</th>
      <td th:text="${c.phnno}"></td>
    </tr>
    <tr>
      <th scope="col">Role</th>                      	
      <td th:text="${c.Role}"></td>
    
    </tr>
    
    
  </tbody>
</table>




</div>
</div>

</section>


</body>
</html>