<!DOCTYPE html>
<html lang="eng"xmlns:th="http://www.thymeleaf.org" th:replace="userParent::layout1">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<section>
<!--END navBar  -->
<!--Side bar  -->
<div class="sidebar">
<!-- //session alert message -->

<button onclick="BarVisibility()" type="button" class="btn-close" ></button>
<div class="divider"></div>
<a class="item" href="#" th:href="@{/home}"><i class="fas fa-home"></i>Home</a>
<a class="item" href="#" th:href="@{/user/showcontact/0}"><i class="fas fa-id-card-alt"></i>View Contact</a>
<a class="item" href="#" th:href="@{/user/addcontact}"><i class="fas fa-pencil-alt"></i>Add Contact</a>
<a class="item" ><i class="fas fa-user-circle"></i>MyProfile</a>
<a class="item" ><i class="fas fa-cogs"></i>Settings</a>
<a class="item" href="#" th:href="@{/logout}" ><i class="fas fa-sign-out-alt"></i>LogOut</a>
<div class="divider"></div>



</div>
<div class="content">


<h1 id="content"><i onclick="BarVisibility()" class="fas fa-bars m-3" ></i></h1>
</div>



</section>
<section>
<div class="card">

<div class="card-body" >



<h1>Contact Details</h1>

<img style="height: 3.5cm; margin-top: 40px;" alt="" src="" th:src="@{'/image/'+${c.image}}">

<table class="table table-dark table-striped table-hover table-bordered border-primary">
  <thead>
    <tr>
      <th scope="col">CId</th>
      <th scope="row" th:text="${c.cId}"></th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <tr>
      <th scope="col">Name</th>
      <td th:text="${c.name}"></td>
    </tr>
    <tr>
      <th scope="col">Description</th>
      <td th:text="${c.description}"></td>
    
    </tr>
    <tr>
      <th scope="col">PHn no</th>
      <td th:text="${c.phnno}"></td>
    </tr>
    <tr>
      <th scope="col">Role</th>                      	
      <td th:text="${c.Role}"></td>
    
    </tr>
    
    
  </tbody>
</table>




</div>
</div>

</section>


</body>
</html>